{% extends 'login/base.html' %}

{% block title %}
login
{% endblock title %}


{% block css %}
<style>
    .form-error {
        color: red;
        font-size: 22px;
    }
</style>
{% endblock css %}



{% block content %}


{% comment %} for showing msg {% endcomment %}
{% for msg in messages %}
<div {% if msg.tags %} class="{{ msg.tags }}" {% endif %}>{{ msg }}</div>
{% endfor %}



{% comment %} non fields errors {% endcomment %}

{% if form.non_field_errors %}
<div class="non-field-errors">
    {% for err in form.non_field_errors %}
    <p class="form-error">{{ err }}</p>
    {% endfor %}
</div>
{% endif %}


{% comment %} login form {% endcomment %}

<form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for fm in form %}

    <div>{{ fm.label_tag }}</div>
    <div>{{ fm }} </div><span> {{ fm.errors|striptags }}</span><br>

    {% endfor %}
    <input type="submit" value="Log In" class="btn btn-success">
    <a href="{% url 'register' %}" class="btn btn-warning">Sign UP</a>
</form>


{% endblock content %}