<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        .success {
            color: green;
            font-size: 22px;
        }
    </style>
</head>

<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form  %}
        <!--we use striptags here for remove all the html tag from these errors otherwise it comes in li  tag-->
        {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }} <br><br>

        {% endfor %}
        <input type="submit" value="submit">
    </form>

    {% for msg in  messages %}
    <small {% if msg.tags %} class="{{ msg.tags }}" {% endif %}> {{ msg }}</small>
    {% endfor %}
</body>

</html>